<div class="person-detail">
    <h1>Person detail</h1>
    <p>Mi nombre es <strong>{{person.name}}</strong> perteneciente al sexo <strong>{{person.title}}</strong> y mi salario es : <strong>${{person.salary}}</strong></p>
</div>


{{yield}}